.btn {
    font-family: var(--ff-primary-buttons);
    background-color: var(--clr-primary-light-green);
    color: var(--clr-primary-dark-green);
    border-radius: 100px;
    cursor: pointer;
    padding: 0.5em;
    place-items: center;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button:hover {
    color: var(--clr-primary-light-green);
    background-color: var(--clr-primary-dark-green);
}

.btn img {
    height: 15px;
}
