/*NAVIGATION*/

.nav-bar  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
    padding: 3em 2em 1em;
    border-radius: 50px 50px 0 0 ;
    margin-top: 2rem;
    font-size: 1.2em;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
}

.active-link{
    border-bottom: 1px solid var(--clr-primary-medium-green);
}

.default-link{
    border-bottom: 1px solid transparent;
}

.default-link:hover, .active-link:hover{
    color: var(--clr-primary-dark-green);
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #717744;
}

