

/* The devil is in the details */
.detail-page{
    border: 1px solid var(--clr-primary-light-green);
    border-radius: 30px;
}

.detail-page-input-field input:placeholder-shown{
    background-color: var(--clr-primary-white);
    color: var(--clr-primary-dark-green);
    border: 1px solid var(--clr-primary-light-green);
    padding: 1em;
    font-family: var(--ff-primary-text);
    width: 250px;
}

.detail-page-input-field{
    background-color: var(--clr-primary-white);
    color: var(--clr-primary-dark-green);
    border: 1px solid var(--clr-primary-light-green);
    outline: var(--clr-primary-light-green);
    font-family: var(--ff-primary-text);
    flex-basis: auto;
    max-width: 600px;
    padding: 1em;
    margin: 2em 0;
    resize: none;
}

.detail-page-input-field:hover{
    cursor: inherit;

}

.single-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-page-input-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.detail-page-edit-mode{
    display: flex;
    flex-direction: row;
}

.detail-page-btn{
    width: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--clr-primary-light-green);
}