h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.todo-item span,
.todo-item input,
.todo-item button {
    margin-right: 10px;
}

input[type="text"],
select {
    padding: 0.6rem 1.2rem;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"] {
    width: 200px;
    margin: 0 10px 0 40px;
}

.btn-delete,
.todo-item div:last-child span {
    padding: 0.1rem 0.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.btn-sort {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.btn-sort * {
    margin-left: 10px;
}

.todo-item div:last-child {
    display: flex;
    align-items: center;
}

.high-priority {
    color: #ff0000;
}

.medium-priority {
    color: #ff9900;
}

.low-priority {
    color: #ffff00;
}